
.msg-err {
    font-size: 0.8em;
    color: darkred;
    font-weight:bold;
    margin-left:105px;
}

.popup{
    background-color: floralwhite;
}

.popup p {
    font-size: 1.2em;
    text-align: center;
    }

.popup p.aviso{
    color:green;
    }

.popup p.error{
        color:darkred;
        }


.button_secundario{
    background-color: #0059ff !important;
    color: rgb(255, 255, 255) !important;
    border-color: #0059ff !important;
}

.button_secundario:hover{
    background-color: #696b6e !important;
}   